* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background: #000;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
